body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
}

ul {
    list-style: none;
}


/* NAV BAR */

#nav_bar {
    float: right;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

#nav_bar #sign_in {
    background: #4887ef;
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px;
    font-weight: bold;
}

.nav-links {
    color: #404040;
}

a {
    text-decoration: none;
    color: inherit;
}

li.nav-links a:hover {
    text-decoration: underline;
}

#sign_in:hover {
    box-shadow: 1px 1px 5px #999;
}

#sign_in {
    color: #fff;
}


/* GOOGLE AREA */

.google #google_logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
}

.form {
    text-align: center;
}

#form-search {
    width: 450px;
    line-height: 32px;
    padding: 20px 10px;
}

.form #form-search {
    padding: 0 8px;
}


/*#form-search:hover {
    border-color: #e4e4e4;
    padding-top: 0;
  }*/

.buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
}


/* FOOTER */

#footer {
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 15px;
    width: 100%;
    /*    border: 1px solid black;
*/
    background-color: #e3e3e3;
}

#footer-left ul li {
    float: left;
    /*    border:1px solid black;
*/
    display: inline;
    padding: 5px 3px;
    padding-top: 14px;
    vertical-align: bottom;
}

#footer-left ul li a {
    /*        border:1px solid black;
*/
    padding: 30px 8px;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}

#footer-right ul li {
    float: right;
    display: inline;
    padding: 30px 8px;
    padding-top: 14px;
    vertical-align: bottom;
}

#footer-right ul li a {
    padding: 30px 8px;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}


/* MEDIA QUERIES */